/*Policy*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


/*Colors declaration*/
:root{
    --primary--color: #fff;
    --secondary--color: #333;
    --main--color: #f16a57;
    --footer_text--color: #737373;
    --footer--background: #f0f0f0;
}

/*Body displays*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--primary--color);
    overflow-x: hidden;
    color: var(--secondary--color);
}

/*links on footer*/
footer{
    width: 100%;
    padding: 50px 100px;
    background-color: var(--footer--background);
}
footer a{
    text-decoration: none;
    color: var(--footer_text--color);
}
footer li{
    list-style: none;
}


/*background footer*/
.main-footer{
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 20px;
}
.name{
    color: var(--main--color);
}
.mail input{
    padding: 5px 55px;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    border: .5px solid var(--main--color);
}
textarea{
    border-radius: 5px;
    border: .5px solid var(--main--color);
    margin-top: 10px
}
textarea::placeholder{
    padding-left: 10px;
    font-size: 17px;
}
textarea:focus, .mail input:focus{
    outline: 1.5px solid var(--main--color);
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit input{
    padding: 5px 50px;
    border: 1px solid var(--main--color);
    font-weight: 600;
    border-radius: 5px;
    color: var(--primary--color);
    background-color: var(--main--color);
}
.submit input:hover{
    background-color: transparent;
    transform: scale(1.05);
    transition: all ease .7s;
    color: var(--secondary--color);
    border-color: var(--main--color);
}


/*icons on contact*/
.join_me a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: solid 2px var(--main--color);
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px 5px 0;
    color: var(--secondary--color);
    transition: all ease .5s;
}
.join_me a:hover{
    background-color: var(--main--color);
    transform: scale(1.25);
    transition: all ease .7s;
    color: var(--primary--color);
}

.join_me .icon{
    margin-right: 10px;
}
.join_me span p{
    color: var(--footer_text--color);
    font-size: 15px;
}
.join_me span p:hover{
    color: var(--secondary--color);
}



/*options "Aller à" */
.options{
    width: 100px;
}
.options li{
    padding-bottom: 5px;
}
.options ul a:hover{
    color: var(--main--color);
    font-weight: 700;
    transition: all ease .9s;
    font-size: 17px;
}
.last{
    margin-top: 30px;
    text-align: center;
}


/*Responsive Media Query*/
@media screen and (max-width: 1000px){
    .main-footer{  
        display: grid;
        padding: 10px;
    }
    .main-footer section, .join_me{
        margin-bottom: 50px;
    }
    .main-footer .mail, .textarea{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
   .mail input{
        padding: 5px 20px;
        margin: 20px 0px 0px 0px;
        border-radius: 5px;
        border: .5px solid var(--main--color);
    }
    textarea{
        border-radius: 5px;
        border: .5px solid var(--main--color);
        margin-top: 10px;
        width: 210px;
    }
    .join_me, .options{
        margin-bottom: 40px;
    }
}
@media (max-width: 1200px) and (min-width: 500px) {
    .join_me, .options{
        margin-bottom: 40px;
    }
}