/*Policy*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


/*Colors declaration*/
:root{
    --primary--color: #fff;
    --secondary--color: #333;
    --main--color: #f16a57;
}


/*Body displays*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--primary--color);
    overflow-x: hidden;
    color: var(--secondary--color);
}
html{
    scroll-behavior: smooth;
}


/*Header display*/
header{
    position: relative;
    padding: 20px 2.5% 20px 7%;
    display: flex;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    align-items: center;
}
.logo{
    margin-right: auto;
    font-size: 30px;
    color: var(--main--color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 25px;
    font-size: 18px;
    position: relative;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a.active::before{
    position: absolute;
    bottom: -6px;
    width: 100%;
    border-radius: 8px;
    left: 0;
    height: 2.8px;
    background-color: white;
    content: '';
}
.navbar a::after{
    position: absolute;
    content: '';
    right: 0;
    bottom:-6px;
    width: 0;
    height: 2.8px;
    background-color: white;
    border-radius: 8px;
    transition: all ease 0.45s;
}
.navbar a:hover::after{
    width: 100%;
}
.menu{
    color: white;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 25px;
}
.mode{
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    color: var(--secondary--color);
}


/*Home display*/
    /*Left home display*/
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 7% 0;
}
.home .home_content{
    width: 500px;
}
.home_content h3{
    font-size: 32px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}
.home_content h1{
    font-size: 51px;
    color: var(--main--color);
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home_content p{
    font-size: 16px;
    margin-top: 3px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: solid 2px var(--main--color);
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 25px 15px 30px 0;
    color: var(--secondary--color);
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}
.social_media a:hover{
    background-color: var(--main--color);
    transform: scale(1.25);
    transition: all ease .7s;
    color: var(--primary--color);
}
.button{
    padding: 10px 30px;
    text-decoration: none;
    border: 2px solid var(--main--color);
    border-radius: 10px;
    color: var(--primary--color);
    font-weight: 700;
    background-color: var(--main--color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    animation: slideTop 1s ease forwards;
    animation-delay: 3s;
    opacity: 0;
}
.button:hover{
    background-color: transparent;
    transform: scale(1.1);
    transition: all ease .7s;
    color: var(--secondary--color);
    border-color: var(--main--color);
}


    /*Right home display*/
.home .personal_container{
    position: absolute;
    right: 0;
    top: 0;
    width: 770px;
    height: 770px;
    overflow: hidden;
}
.personal_container .personal_box{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, personalRotate 13s ease-out infinite;
    animation-delay: 2.5s, 3.5s;
}
.personal_box .tools{
    position: absolute;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 385px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main--color);
    background-color: var(--primary--color);
    padding: 13px 0;
}
.personal_box .tools:nth-child(1) i{
    margin-right: 20px;
}
.personal_box .tools:nth-child(2) i{
    margin-right: 50px;
}
.personal_box .tools:nth-child(3) i{
    margin-right: 15px;
}
.personal_box .tools:nth-child(4) i{
    margin-right: 100px;
}
.tools i{
    font-size: 38px;
}
.tools h3{
    font-size: 32px;
    font-weight: 600;
}
.personal_box .circle{
    width: 72%;
    height: 72%;
    border: 3px solid var(--main--color);
    border-radius: 50%;
}
.personal_container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 385px solid var(--main--color);
    border-bottom: 385px solid var(--main--color);
    border-left: 385px solid transparent;
    border-right: 385px solid var(--main--color);
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}


/*color declaration for mode*/
.dark-mode{
    --primary--color: #000;
    --secondary--color: #fff;
    --footer--background: rgba(30, 30, 30, .9);
}
.light-mode{
    background-color: #fff;
    color: #000;
}



/********************Keyframes animation********************/ 

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideTop{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes personalRotate{
    0%, 20%{
        transform: rotate(0deg);
    }
    25%, 45%{
        transform: rotate(-90deg);
    }
    50%, 65%{
        transform: rotate(-180deg);
    }
    70%, 95%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/************************************************************/

/***Media Query***/
@media screen and (max-width: 1400px){
    header{
        padding: 30px 50px;
    }
    header .menu{
        display: none;
    }
    .navbar a, .menu{
        color: var(--secondary--color);
    }
    .navbar a.active::before{
        position: absolute;
        bottom: -6px;
        width: 100%;
        border-radius: 8px;
        left: 0;
        height: 2.8px;
        background-color: var(--main--color);
        content: '';
    }
    .navbar a::after{
        position: absolute;
        content: '';
        right: 0;
        bottom:-6px;
        width: 0;
        height: 2.8px;
        background-color: var(--main--color);
        border-radius: 8px;
        transition: all ease 0.45s;
    }
    .navbar a:hover::after{
        width: 100%;
    }
    .personal_container{
        display: none;
    }
}
@media screen and (max-width: 950px) {
    header nav{
        position: absolute;
        top: 10px;
        right: 2%;
        width: 300px;
        height: 40vh;
        background-color: var(--main--color);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
    }
    nav.navbar{
        display: none;
    }
    header .menu{
        display: block;
        color: var(--secondary--color);
    }
    .navbar a:hover{
        transform: translateY(-5px);
        padding: 2px 10px;
        background-color: white;
        color: var(--main--color);
        border-radius: 10px;
    }
    .navbar a, .menu{
        transition: all .50s ease;
        display: block;
        margin-bottom: 12px;
        color: white;
    }
    .navbar i{
        margin-bottom: 10px;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .personal_container{
        display: none;
    }
}
@media screen and (min-width: 950px){
    header .menu{
        display: none;
    }
}